html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
    color:black;
    font-family: 'Verdana', 'Arial';
    margin:0;
}
table {
    border: 1px solid black;
    background-color: rgba(133, 133, 133, 0.5)
}
td {
    border: 1px solid black;
}
main {
    padding:20px;margin-top:30px;
}     
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(133, 133, 133, 0.5)
}

#nav {
  float: left;
}

#nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav a:hover:not(.active) {
  background-color: rgb(73, 73, 73);
}

.active {
  background-color: rgb(76, 175, 80);
}
nav {
    padding:20px;margin-top:30px;
}
div {
    padding:20px;margin-top:30px;
}
.box {
  /* border: 5px solid rebeccapurple; */
  background-color: lightgray;
  /* padding: 40px;
  margin: 40px; */
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}